@model Certification.Domain.Entities.WorkshopParticipant


@{
    Layout = null;

}


<link rel="icon" href="~/Content/assets/images/logo.jpg">
@*<link rel="icon" href="~/Content/assets/images/logo3.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/assets/images/logo3.png" type="image/x-icon" />*@

<title>أشعار</title>

<!--Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">


<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/fontawesome.css">

<!-- ico-font -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/icofont.css">

<!-- Themify icon -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify.css">

<!-- Flag icon -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/flag-icon.css">

<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

<!-- App css -->
@*<link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">*@

<!-- Responsive css -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css">
<!-- DatePicker css -->
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/date-picker.css">

@*<link href="~/Content/assets/css/custom.css" rel="stylesheet" />*@



<style>
    html * {
        font-family: 'Cairo', sans-serif;
    }

    .input-validation-error {
        border: 1px dashed red !important;
    }
</style>



<link rel="stylesheet" type="text/css" href="~/Content/new_main.css">
<!-- Icomoon Font Icons css -->
<link rel="stylesheet" href="~/Content/fonts/style.css">



<!-- Loader ends -->
<div class="page-wrapper rtl">

    <!--Page Header Start-->
    @*@Html.Partial("_MainHeader")*@
    @*@Html.Action("MainHeader", "Home")*@
    <!--Page Header Ends-->

    <div class="page-body-wrapper">
        <!-- Sidebar Start -->
        <!-- Sidebar End -->


        <div class="page-body" style="margin-top:75px;">

            <div class="container-fluid">
             
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row gutters">

                            <div class="col-sm-12">
                                <div class="card">

                                    @*<div class="card-header custom-padding header-color">

            <div class="row">
                <div class="col-md-9">
                    <h5 class="margin-0" style="margin-top:10px;">
                        <i class="fa fa-table"></i> Error Page
                    </h5>
                </div>

            </div>
        </div>*@

                                    @*<div class="card-body">

                                        Error Page


                                    </div>*@
                                    <div class="card-header">

                                        <div class="text-center">
                                            <img src="https://cert.kau-bookstore.com/Content/assets/images/kaulogo.jpg" class="img-fluid" alt="Responsive image" width="100px;" height="200px;" style="max-width:200px;">
                                        </div>

                                    </div>
                                    <div class="card-body">

                                   

                                        <p class="card-text text-center">
                                           تحقق من بريدك الالكترونى , تم ارسال بريد الكترونى اخر بالشهادة 
                                        </p>

                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/assets/js/jquery.ui.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



<!-- Bootstrap js-->
<script src="~/Content/assets/js/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/js/bootstrap/bootstrap.js"></script>

<!-- Sidebar jquery-->
<script src="~/Content/assets/js/sidebar-menu.js"></script>



<!-- Theme js-->
<script src="~/Content/assets/js/script.js"></script>
@*<script src="~/Content/assets/js/chat-sidebar/chat.js"></script>*@


<!--Datepicker js-->
<script src="~/Content/assets/js/date-picker/datepicker.js"></script>
<script src="~/Content/assets/js/date-picker/datepicker.en.js"></script>
<script src="~/Content/assets/js/date-picker/datepicker.ar.js"></script>
<script src="~/Content/assets/js/date-picker/datepicker.custom.js"></script>





<!-- validation scripts -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<!-- bootstrap notify js -->
<script src="~/Content/assets/js/notify/bootstrap-notify.min.js"></script>
<script src="~/Content/assets/js/notify/notify-script.js"></script>







