@model Ifa.Model.PreviousPage

<li class="page-item">
    <a class="page-link" href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((System.Web.Mvc.Ajax.AjaxOptions)ViewData["ajaxOptions"]) data-original-title="" title="">
    السابق </a></li>